// Colors
$darkBlue:  #020623;
$lightBlue: #818de3;
$redPink:   #ff224b;
$white:     #fff;

// Fonts
$raleway: 'Raleway', Helvetica, sans-serif;
$ubuntu: 'Ubuntu', Calibri, sans-serif;

$enable-responsive-font-sizes: true;
